# dependencies
node_modules/

# next.js
.next/
out/

# env
.env
.env*.local

# debug
npm-debug.log*

# python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/

# misc
.DS_Store
*.pem

# trained models
backend/models/tox21/
backend/models/tox21_transformers.pkl

# backend data
backend/data/
backend/__pycache__/
backend/**/__pycache__/
*.pyc
*.pem


*.pdb